

<div class="row animated fadeInRight">    
    <div class="col-12">     
        <div class="card">
            <h2 class="card-title">Datos de Denuncia</h2>
            <div class="card-body">                                            
                <form ngNativeValidate #form="ngForm" class="form p-t-20">

                    <div class="form-group">                                              
                        <label>Procedimiento:</label>
                        <div class="input-group">                                            
                            <input  name="nombres" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">                   
                        <div class="col-sm">
                            <div class="form-group">                                              
                                <label>Dirección Inmueble:</label>
                                <div class="input-group">                                            
                                    <input  name="apellidos" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Codigo Postal:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Nombre Procurador:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>   
                    
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Nombre Empresa:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>CIF:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Dirección Empresa:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="form-group">
                        <label>Demandados:</label>
                        <div class="input-group">                                            
                            <input  name="correo" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Nro. Finca Registral:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="number" class="form-control">
                                    <label> - </label>
                                    <input  name="telefono" type="number" class="form-control">
                                    <label> - </label>
                                    <input  name="telefono" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Ciudad de Registro:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Nro Registro:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Duración de Contrato:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="number" class="form-control">
                                    <label> - </label>
                                    <input  name="telefono" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Clausula Duración:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Fecha Contrato:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Monto Renta:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="number" class="form-control">
                                    <label> - </label>
                                    <input  name="telefono" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Clausula Renta:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Fecha Adquisición:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Nombre Notario:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Lugar y Fecha:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Propietario Anterior:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Fecha Vencimiento:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Fecha Burofax:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Fecha Creación Burofax:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Cantidad Reclamada:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Cuantia:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="email" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Enervación:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group">
                                <label>Localidad:</label>
                                <div class="input-group">                                            
                                    <input  name="telefono" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm">
                            <div class="form-group">
                                <label>Fecha Localidad:</label>
                                <div class="input-group">                                            
                                    <input  name="correo" type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div> 
                  

                    

                    <!-- <div class="form-group">
                        <label>Personas involucradas en esta denuncia:</label>
                        <div class="input-group">                                            
                            <textarea class="form-control"  name="personas_involucradas" rows="6" readonly></textarea>
                        </div>
                    </div>                -->

                    <!-- <div class="form-group">
                        <label>Asunto:</label>
                        <div class="input-group">                                            
                            <input  name="titulo" type="text" class="form-control" placeholder="Asunto" readonly>
                        </div>
                    </div> -->
                    

                    <hr/>

                    <br/>

                                             
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="mdi mdi-content-save"></i>
                        Guardar
                    </button>   
                    
                </form>            
            </div>
        </div>
    </div>
</div>







    