<title>webApp</title>
<div class="row">

    

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Consulta de recibos</h2>

                <table class="table table-hover">
                    <tbody>                      
                        <tr>
                            <td>
                                <div routerLink="/dashboard">
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-success"><i class="mdi mdi-chart-areaspline fa-5x"></i></button>
                                    <span> Dashboard</span>
                                </div>
                            </td>

                            <td>
                                <div routerLink="/reportes">
                                    <button style="width: 120px;" type="button" class="btn btn-w-m btn-primary"><i class="mdi mdi-chart-timeline fa-5x"></i></button>
                                    <span>  Reportes</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>



                <!-- <table class="table">
                    <div class="col-lg-6">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                    <button type="button" class="btn btn-w-m btn-primary"><i class="fa fa  fa-address-card-o fa-5x"></i></button>
                                    <span>Información Centralizada de Clientes</span>
                                    </div>
                                </td>
                            </tr>                           
                        </tbody>
                    </div>
                </table> -->
            </div>
        </div>
    </div>

</div>

<!-- <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">				
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12" >
                        <H1 align="left"> Sistema de Registro de Informacion de Clientes - SRIC </H1>
                            
                            <table class="table">
               <div class="col-lg-6">
                <tbody>
                <tr>
                    <td>
                        <div class="col-xs-10 col-lg-12" >
                        <button type="button" class="btn btn-w-m btn-success m-r-sm"><i class="fa fa  fa-address-card-o fa-5x"></i></button>
                       Información Centralizada de Clientes
                        </div>
                    </td>
                      
               
                </tr>
                <tr>
                         <td>
                             <div class="col-xs-10 col-lg-12" >
                            <button type="button" class="btn btn-w-m btn-success m-r-sm"> <i class="fa fa  fa-desktop fa-5x"></i></button>Información Centralizada de Equipos y Dispositivos
                            </div>
                        </td>
                </tr>

                <tr>
                         <td>
                             <div class="col-xs-10 col-lg-12" >
                            <button type="button" class="btn btn-w-m btn-success m-r-sm"> <i class="fa fa  fa-database fa-5x"></i></button>Información y Vigencia de Productos y Servicios
                            </div>
                        </td>
                </tr>
               
                    </tbody>
                    </div>
            </table>
                            
            
                        </div>
                    </div>						
                </div>
            </div>
        </div> 
    </div>
</div> -->