<div class="row animated fadeInRight" style="overflow: auto">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               

                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Dashboard:</label>
                            <div class="input-group">
                                <select (change)="getDashboard(tipoDashboard)" [(ngModel)]="tipoDashboard" name="tipoDashboard" class="form-control" required>                    
                                    <option value=1>Recibos por compañia</option>
                                    <option value=2>Recibos por motivo</option>
                                    <option value=3>Importe de recibos por compañia</option>
                                    <option value=4>Importe de recibos por motivo</option>               
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <div class="form-group">
                            <label>Desde:</label>
                            <div class="input-group">                                            
                                <input [(ngModel)]="desde" name="desde" type="date" class="form-control" required>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm">
                        <div class="form-group">
                            <label>Hasta:</label>
                            <div class="input-group">                                            
                                <input [(ngModel)]="hasta" name="hasta" type="date" class="form-control" required>
                                <button type="button" class="btn btn-success waves-effect waves-light m-r-10" (click) = "getDashboard(tipoDashboard)">
                                    <i class="fa fa-search"></i>
                                    Consultar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="loading">
                <div class="col-sm-12">
                    <div class="alert alert-warning text-center">
                        <strong>Cargando...</strong>
                        <br>
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                        <br>
                        <span>Por Favor Espere...</span>
                    </div>
                </div>    
            </div>

            <div *ngIf ="!loading">
                <div class="card" *ngIf="tipoDashboard == 1">
                    <div class="card-body">         
                        <h4 class="card-title">{{dataGrafico.leyenda}}</h4>              
                        <app-graphics-barchart
                            [Data] = "dataGrafico.Data"
                            [Labels] = "dataGrafico.labels"
                            [Options] = "dataGrafico.options"
                            [Plugins] = "dataGrafico.plugins"
                            [Legend] = "dataGrafico.legends"
                            [Type] = "dataGrafico.type"
                            [Leyenda] = "dataGrafico.leyenda">
                        </app-graphics-barchart>
                    </div>
                </div>

                <!-- <div class="card">
                    <div class="card-body">         
                        <h4 class="card-title">{{dataGraficoMot.leyenda}}</h4>              
                        <app-graphics-barchart
                            [Data] = "dataGraficoMot.Data"
                            [Labels] = "dataGraficoMot.labels"
                            [Options] = "dataGraficoMot.options"
                            [Plugins] = "dataGraficoMot.plugins"
                            [Legend] = "dataGraficoMot.legends"
                            [Type] = "dataGraficoMot.type"
                            [Leyenda] = "dataGraficoMot.leyenda">
                        </app-graphics-barchart>
                    </div>
                </div> -->

                <div class="card" *ngIf="tipoDashboard == 2">
                    <div class="card-body">         
                        <h4 class="card-title">{{dataGraficoMot.leyenda}}</h4>              
                        <app-graphics-polar
                            [Data] = "dataGraficoMot.data"
                            [Labels] = "dataGraficoMot.labels"
                            [Legend] = "dataGraficoMot.legends"
                            [Type] = "dataGraficoMot.type">
                        </app-graphics-polar>
                    </div>
                </div>


                <div class="card" *ngIf="tipoDashboard == 3">
                    <div class="card-body">         
                        <h4 class="card-title">{{dataGraficoImporte.leyenda}}</h4>              
                        <app-graphics-barchart
                            [Data] = "dataGraficoImporte.Data"
                            [Labels] = "dataGraficoImporte.labels"
                            [Options] = "dataGraficoImporte.options"
                            [Plugins] = "dataGraficoImporte.plugins"
                            [Legend] = "dataGraficoImporte.legends"
                            [Type] = "dataGraficoImporte.type"
                            [Leyenda] = "dataGraficoImporte.leyenda">
                        </app-graphics-barchart>
                    </div>
                </div>

                <div class="card" *ngIf="tipoDashboard == 4">
                    <div class="card-body">         
                        <h4 class="card-title">{{dataGraficoImporteMot.leyenda}}</h4>              
                        <app-graphics-polar
                            [Data] = "dataGraficoImporteMot.data"
                            [Labels] = "dataGraficoImporteMot.labels"
                            [Legend] = "dataGraficoImporteMot.legends"
                            [Type] = "dataGraficoImporteMot.type">
                        </app-graphics-polar>
                    </div>
                </div>

            </div>
            

        </div>
    </div>
</div>
             